@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 40% 98%;
    --foreground: 224 71.4% 4.1%;

    --card: 220 40% 98%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 220 40% 98%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 173 97% 38%;
    --primary-foreground: 173 30% 98%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    
    --muted: 215 20.2% 65.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 173 97% 38%;
    --accent-foreground: 173 30% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 20.2% 65.1%;
    --input: 215 20.2% 65.1%;
    --ring: 173 97% 38%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 173 97% 38%;
    --primary-foreground: 173 30% 98%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 173 97% 38%;
    --accent-foreground: 173 30% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 173 97% 38%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
